{% load i18n admin_urls %}
{% block object-tools-items %}
  {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
  <a href="{% add_preserved_filters history_url %}" class="btn btn-info btn-sm">
    <i class="fas fa-history"></i> {% translate "History" %}
  </a>
  {% if has_absolute_url %}
    <a href="{{ absolute_url }}" class="btn btn-secondary btn-sm ml-1" target="_blank">
      <i class="fas fa-external-link-alt"></i> {% translate "View on site" %}
    </a>
  {% endif %}
{% endblock %}
